/* Navbar styling */
.content-wrapper {
  width: 70%;
  /* text-align: center; */
  margin: 10px auto 0px;
  padding: 12px 16px;
}

.content-header {
  text-align: center;
}

.nav-wrapper {
  display: flex;
  width: 75%;
  margin: 10px auto;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 1.8rem;
  font-size: medium;
  padding: 12px 16px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  box-shadow: rgb(0 0 0 / 45%) 0px 18px 6px -20px;
}

.navLink.active {
  color: #3f8d9b;
}

.navLink.active.product ~ hr.selected {
  margin-left: 8.8%;
} 

.navLink.active.cart ~ hr.selected {
  width: 6%;
  margin-left: 18.2%;
} 

hr.selected {
  position: absolute;
  height: .15rem;
  width: 9%;
  margin: 0;
  margin-top: 1.05rem;
  background: tomato;
  background: #3f8d9b;
  border: none;
  transition: .3s ease-in-out;
}

.logo-wrapper {
  padding: 10px 12px;
}

.cardCount {
  padding: 10px 12px;
}

.navLinkWrapper  {
  padding: 10px 12px;
}

.navLinkWrapper .navLink {
  margin: 0px 18px;
}

.navLink {
  text-decoration: none;
  color: darkgrey;
  width: 100%;
  margin-right: 5px;
}